@model IEnumerable<BA_ERPMVC.ViewModels.OrderBooking.EmptyDropOffViewModel>
@{
    //if (Session["UserName"] == null)
    //{
    //    Response.Redirect("~/Account/Login");
    //}
    ViewBag.Title = "Expenses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div id="gridShow" class="card">
    <div class="card-header" style="background:white;">
        <div class="row" style="margin-bottom:10px">
            <div class="col-sm-6 float-sm-left">
                <h4>EmptyDropOff</h4>
            </div><!-- /.col -->

        </div>
    </div>

    <div class="col-md-3">
        <div class="input-group">
            <label for="ddlState">Terminal Name</label>
            <select class="form-control  ddl_terminals" aria-invalid="false" style="width: 100%;">
                <option value="">Please Select Terminal</option>
                <option value="0">All</option>
                @foreach (var terminal in ViewBag.PortAndTerminals)
                {
                    <option value="@terminal.PortAndTerminalId" data-select2-id="@terminal.PortAndTerminalId">@terminal.PortName</option>
                }
            </select>
            <div class="form-status"><span></span></div>

        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                <table id="tbl_Logistics" class="table table-bordered table-sm border-right-0 border-left-0 fs-7 table-v-middle table-responsive datatable" >
                    <thead class="thead-light text-center">
                        <tr>
                            <th>Booking No#</th>
                            <th>Container No#</th>
                            <th>Container Size</th>
                            <th>Container Reference</th>
                            <th>ShippingLine</th>
                            <th>Terminal Name</th>
                            <th>EIR Number</th>
                            <th>Expense At Empty Location</th>
                            <th>Remarks</th>
                            <th>Delivery Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var EmptyDropOff in Model.ToList())
                        {
                        <tr class="bg-light tbl-valign-top">
                            <td>
                                <input type="hidden" value="@EmptyDropOff.OrderId" class="form-control txt_OrderId" />
                                <input type="hidden" value="@EmptyDropOff.BLnumber" class="form-control txt_BLnumber" />
                                <input type="hidden" value="@Convert.ToInt32(EmptyDropOff.ID)" class="form-control txt_ID" />
                                <input type="hidden" value="@(EmptyDropOff.PortAndTerminalId)" class="form-control txt_PortAndTerminalId" />
                                <input type="text" disabled style="width: 110px;" value="@EmptyDropOff.OrderNo" class="form-control txt_OrderNo" />
                            </td>
                            <td>
                                <input type="text" disabled style="width: 132px;" value="@EmptyDropOff.ContainerNo" class="form-control txt_ContainerNo" />
                            </td>
                            <td>
                                <input type="text" disabled style="width: 80px;" value="@EmptyDropOff.ContainerSize" class="form-control txt_ContainerSize" />
                            </td>
                            <td>
                                <input type="text" disabled style="width: 80px;" value="@EmptyDropOff.ReferenceContainer" class="form-control txt_ReferenceContainer" />
                            </td>
                            
                            
                            <td>
                                <input type="text" disabled style="width: 150px;" value="@EmptyDropOff.ShippingLineName" class="form-control txt_ShippingLineName" />
                            </td>

                            <td>
                                <input type="text" disabled style="width: 150px;" value="@EmptyDropOff.PortName" class="form-control txt_PortName" />
                            </td>

                            <td>
                                <input class="form-control txt_EIRNumber" style="width: 116px;" type="text" placeholder="" value="@(EmptyDropOff.EIRNo)" />
                            </td>
                            <td>
                                <input class="form-control txt_EmptyLoc" style="width: 116px;" type="number" placeholder="" value="@(EmptyDropOff.ExpenseAtEmptyLocation)" />
                            </td>
                            <td>
                                <input class="form-control txt_Remarks" style="width: 181px;" type="text" placeholder="" value="@(EmptyDropOff.Remarks)" />
                            </td>
                            <td>
                                <input class="date-picker form-control txt_DeliveryDate" style="width: 170px;" type="date" placeholder="" value="@(EmptyDropOff.DeliveryDate.HasValue ? EmptyDropOff.DeliveryDate.Value.ToString("yyyy-MM-dd"): "")" />
                            </td>



                            <td class="btn-group">
                                <button type="button" class="btn btn-sm btn-block btn-success btn-v2 fs-8 text-nowrap mt-1 mb-0 btnSave">Save</button>&ensp;
                                <button type="button" class="btn btn-sm btn-block btn-primary btn-v2 fs-8 text-nowrap mt-1 mb-0 btnEmptyDropOff">EmptyDropOff</button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- LOADING SHOW HIDE -->
        <div class="loading-dimmer"><img src="~/AdminLte/dist/img/loading.gif" /></div>
    </div>
</div>
<script src="@Fingerprint.Tag("/AdminLte/Scripts/OrderBookings/EmptyDropOff.js")"></script>
