@model IEnumerable<BA_ERPMVC.ViewModels.OrderBooking.PreDispatchedMovementViewModel>
@{
    //if (Session["UserName"] == null)
    //{
    //    Response.Redirect("~/Account/Login");
    //}
    ViewBag.Title = "Expenses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div id="gridShow" class="card">
    <div class="card-header" style="background:white;">
        <div class="row" style="margin-bottom:10px">
            <div class="col-sm-6 float-sm-left">
                <h4> Pre Dispatched</h4>
            </div><!-- /.col -->

        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                <table id="tbl_Logistics" class="table table-bordered table-sm border-right-0 border-left-0 fs-7 table-v-middle table-responsive datatable" style="height:auto;">
                    <thead class="thead-light">
                        <tr>
                            <th>Booking No#</th>
                            <th>Container No#</th>
                            <th>ReferenceContainer#</th>
                            <th>Container Size</th>
                            <th>From Location</th>
                            <th>From DateTime</th>
                            <th>To Location</th>
                            <th>To DateTime</th>
                            <th>Transporter Name</th>
                            <th>Vehicle Number</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var preDispatchedMovement in Model.ToList())
                        {
                            <tr class="bg-light tbl-valign-top">
                                <td>
                                    <input type="hidden" value="@preDispatchedMovement.OrderId" class="form-control txt_OrderId" />
                                    <input type="hidden" value="@preDispatchedMovement.BLnumber" class="form-control txt_BLnumber" />
                                    <input type="hidden" value="@Convert.ToInt32(preDispatchedMovement.ID)" class="form-control txt_ID" />
                                    <input type="text" class="form-control txt_OrderNo" style="width: 110px;" disabled value="@preDispatchedMovement.OrderNo" />
                                </td>
                                <td>
                                    <input class="form-control txt_ContainerNo" style="width: 300px;" type="text" disabled value="@preDispatchedMovement.ContainerNo"  />
                                </td>
                                <td>
                                    <input class="form-control txt_ReferenceContainer" style="width: 300px;" type="text" disabled value="@preDispatchedMovement.ReferenceContainer"  />
                                    
                                </td>
                                <td>
                                    <input class="form-control txt_ContainerSize" style="width: 100px;" type="text" disabled value="@preDispatchedMovement.ContainerSize"  />
                                    
                                </td>
                                
                                <td>
                                    <input class="form-control txt_FromLoc" style="width: 170px;" type="text" placeholder="" value="@(preDispatchedMovement.FromLocation)" />
                                </td>
                                <td>
                                    <input class="date-picker form-control txt_FromDateTime" style="width: 170px;" type="date" placeholder="" value="@(preDispatchedMovement.FromDateTime.HasValue ? preDispatchedMovement.FromDateTime.Value.ToString("yyyy-MM-dd"): "")" />
                                </td>
                                <td>
                                    <input class=" form-control txt_ToLoc" style="width: 170px;" type="text" placeholder="" value="@(preDispatchedMovement.ToLocation)" />
                                </td>
                                <td>
                                    <input class="date-picker form-control txt_ToDateTime" style="width: 170px;" type="date" placeholder="" value="@(preDispatchedMovement.ToDateTime.HasValue ? preDispatchedMovement.ToDateTime.Value.ToString("yyyy-MM-dd") : "")" />
                                </td>
                                <td>
                                    <input class=" form-control txt_TransporterName" style="width: 170px;" type="text" placeholder="" value="@(preDispatchedMovement.TransporterName)" />
                                </td>
                                <td>
                                    <input class=" form-control txt_VehicleNumber" style="width: 170px;" type="text" placeholder="" value="@(preDispatchedMovement.VehicleNumber)" />
                                </td>
                                <td class="btn-group">
                                    <button type="button" class="btn btn-sm btn-block btn-success btn-v2 fs-8 text-nowrap mt-1 mb-0 btnSave">Save</button>&ensp;
                                    <button type="button" class="btn btn-sm btn-block btn-primary btn-v2 fs-8 text-nowrap mt-1 mb-0 btnPreDispatched">PreDispatched</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- LOADING SHOW HIDE -->
        <div class="loading-dimmer"><img src="~/AdminLte/dist/img/loading.gif" /></div>
    </div>
</div>
<script src="@Fingerprint.Tag("/AdminLte/Scripts/OrderBookings/PreDispatchedMovement.js")"></script>
